manifest {
    mainScript = "main.nf"
}

params {
    barcoding_folder = "/qib/instruments/n91636/software/ont-guppy-4.2.2/data/barcoding"
    barcode_kit = false //Name of the barcode kit for deplexing for being faster, otherwise all barcodes will be guessed
    hac_prom = false //HAC for PromethION ?
    basecall = false // Basecalling or Deplexing?
    full_cuda = false // Enable cuda:all?
    num_callers = 4
    trim_barcodes = false //Trim barcodes and adapters?
    fast5 = false //Path to run
    outdir = false //Output
    map = false //Map file of 2 columns: barcode01 <-> sampleXX
}