manifest {
    mainScript = "main.nf"
}

params {
    guppy_folder = "/qib/instruments/n91636/software/ont-guppy-6.1.2/bin"
    barcoding_folder = "/qib/instruments/n91636/software/guppy-barcoding"
    barcode_kit = false //Name of the barcode kit for deplexing for being faster, otherwise all barcodes will be guessed
    sup_model = false //HAC for PromethION ?
    basecall = false // Basecalling or Deplexing?
    min_qscore = 9
    chunks_per_runner = 1024
    deplex = false
    full_cuda = false // Enable cuda:all?
    cuda = "1,2" //Number of cuda dev for basecalling
    num_callers = 4
    trim_barcodes = false //Trim barcodes and adapters?
    barcoder_options = "" 
    // barcoder_options = "--require_barcodes_both_ends" 
    fast5 = false //Path to run
    outdir = false //Output
    map = false //Map file of 2 columns: barcode01 <-> sampleXX
}